#jumbotron {
  height: calc(100vh - 70px);
  overflow: hidden;
  width: 100%;
  .logo {
    box-sizing: border-box;
    max-width: 60px;
    opacity: 0.5;
    position: absolute;
    right: 1rem;
    top: 1rem;
    width: 100%;
    z-index: 100;
    img {
      width: 100%;
    }
  }
  .year {
    display: block;
    margin: 0;
  }
  .cover {
    background: rgba(0, 0, 0, 0.5);
    height: calc(100vh - 55px);
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    .container {
      align-items: center;
      box-sizing: border-box;
      display: flex;
      height: 100%;
      justify-content: flex-start;
      margin: 0 auto;
      max-width: 1200px;
      position: relative;
      .header-text {
        max-width: 500px;
        padding: 1rem;
        width: 100%;
        h1 {
          font-size: 6rem;
          margin: 0;
        }
        p {
          font-size: 1.1rem;
          line-height: 2.5rem;
          margin: 0;
        }
      }
    }
  }
}

@media (max-width: 700px) {
  #jumbotron {
    height: 100vh;
    .logo {
      right: 1rem;
      top: 1rem;
    }
    .cover {
      height: 100vh;
    }
  }
}
