.cart-item {
  align-items: center;
  column-gap: 10px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  justify-items: center;
  padding: 1rem;
  button {
    background: none;
    border: none;
    outline: none;
    &:focus {
      background-color: #000;
      color: #fff;
    }
  }
  > * {
    box-sizing: border-box;
  }
  img {
    width: 100%;
  }
}

.product-amnt {
  font-size: 1.5rem;
}

.qty-counter {
  align-items: center;
  display: flex;
  justify-content: space-around;
  button {
    font-size: 1rem;
    margin: 1rem;
  }
}
.product-name {
  font-weight: bold;
}
