.nav-container {
  z-index: 500;
  position: sticky;
  // font-family: Verdana, Geneva, Tahoma, sans-serif;
  top: 0;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.25);
  ul {
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0;
    background: #edebe9;
  }

  .the-knit-factor {
    font-size: 1rem;
    color: #000;

    .the {
      font-size: 0.5rem;
      display: block;
    }
    .knit {
      font-size: 1.5rem;
      display: block;
    }
    .factor {
      font-size: 0.5rem;
      display: block;
      text-align: right;
    }
  }

  .fall-essentials {
    margin: 1rem 0;
    display: block;
    span {
      font-size: 1rem;
      display: block;
    }
  }

  .the-complete-coat-nav {
    .wrapper-nav {
      position: relative;
      color: rgba(black, 0.5);
      font-size: small;
      display: inline-block;
      h1 {
        text-align: center;
        margin: 0;

        font-size: 1.5rem;
        line-height: 1.5rem;
        // background-color: #ae8484;
        // background-image: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 0h16v2h-6v6h6v8H8v-6H2v6H0V0zm4 4h2v2H4V4zm8 8h2v2h-2v-2zm-8 0h2v2H4v-2zm8-8h2v2h-2V4z' fill='%23700000' fill-opacity='0.4' fill-rule='evenodd'/%3E%3C/svg%3E");
        // background-repeat: repeat;
        // background-clip: text;
        // background-position: center;
        // -webkit-text-fill-color: transparent;
        // font-weight: bold;
        // text-transform: uppercase;
        // -webkit-font-smoothing: antialiased;
        color: #000;
      }
    }
  }
}
