#cart {
  background: #fff;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  font-family: var(--primary-sans-serif);
  height: 100vh;
  padding: 1rem;
  position: fixed;
  right: 0;
  top: 0;
  width: 100%;
  z-index: 1000;
  h2 {
    color: #333;
    font-family: var(--primary-serif);
    font-size: 2.5rem;
    margin: 0;
    text-align: center;
  }
}
.cart-title {
  align-items: center;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.cart-button-container {
  align-items: center;
  background: var(--primary-light);
  display: flex;
  height: 75px;
  justify-content: center;
  width: 100%;
}

.cart-button {
  background: var(--primary-dark);
  border: none;
  color: var(--primary-light);
  display: block;
  font-weight: bold;
  margin: 0 auto;
  padding: 1rem;
  &:disabled,
  &[disabled] {
    background-color: #cccccc;
    color: #666666;
  }
}
.cart-overlay {
  background: rgba(0, 0, 0, 0.5);
  display: block;
  height: 100vh;
  position: fixed;
  right: 320px;
  top: 0;
  width: 100vw;
  z-index: 900;
}
#dummy-cart {
  background: var(--primary-light);
  display: block;
  height: 100vh;
  position: fixed;
  right: 0;
  top: 0;
  width: 320px;
  z-index: 1000;
}

.exit-btn,
.return-btn {
  background: none;
  border: none;
}
