#test-page {
  align-items: center;
  color: var(--primary-light);
  display: flex;
  justify-content: center;
  margin-top: 55px;
  min-height: fit-content;
  width: 100%;
  .test-item {
    align-items: center;
    box-sizing: border-box;
    display: flex;
    padding: 1rem;
  }
  p {
    font-family: var(--primary-serif);
    line-height: 24px;
  }
  .test-box {
    background: var(--primary-dark);
    border: 1px solid var(--primary-light);
    box-sizing: border-box;
    flex: 2;
    height: auto;
    max-width: 440px;
    padding: 1rem;
    position: relative;
    transform: translateX(1.9rem);
    z-index: 100;
  }
  .add-to-cart {
    font-size: 1rem;
  }
  .test-text-content {
    color: var(--primary-light);
    padding: 1rem;
  }
  .price {
    float: right;
    font-size: 1rem;
  }
  .content {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
    left: 0;
    padding: 1rem;
    position: relative;
    top: 0;
  }
  h1 {
    font-size: 2rem;
    margin: 0;
  }
  .test-no {
    display: block;
    font-size: 6rem;
    position: absolute;
    transform: translate(-46px, -7rem);
  }
  .no {
    font-size: 2vw;
  }
  .add-to-cart-btn {
    background: var(--primary-light);
    border: none;
    bottom: 0;
    color: var(--primary-dark);
    display: block;
    font-size: 1rem;
    font-weight: bold;
    left: 50%;
    margin: 0 auto;
    padding: 1rem;
    position: absolute;
    transform: translateY(2rem) translateX(-50%);
    &:focus {
      background-color: var(--primary-highlight);
      outline: none;
    }
  }
  footer {
    height: 50vh;
    width: 100%;
  }
  img {
    flex: 1;
    max-width: 400px;
    width: 45vw;
  }
}

@media (max-width: 650px) {
  #test-page {
    display: block;
    margin-top: 90px;
    .test-item {
      display: flex;
      flex-direction: column-reverse;
      position: relative;
      width: 100%;
    }
    .content {
      padding: 0;
      position: relative;
    }
    .test-box {
      background: none;
      border: none;
      box-sizing: border-box;
      height: auto;
      padding: 1rem;
      position: relative;
      transform: translateX(0);
      width: 100%;
      z-index: 100;
    }
    .test-no {
      display: block;
      font-size: 4rem;
      position: relative;
      transform: translate(0);
    }
    .no {
      font-size: 1rem;
    }
    .add-to-cart-btn {
      bottom: 0;
      display: block;
      left: 0;
      margin: 0;
      padding: 1rem;
      position: relative;
      transform: none;
    }
    img {
      width: 100%;
    }
  }
}
