#the-knit-factor {
  align-items: center;
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: calc(100vh - 70px);
  margin: 0 auto;
  max-width: 1200px;
  .runway {
    background-image: url("../../assets/images/needles.png");
    background-position-y: bottom;
    background-repeat: no-repeat;
    background-size: contain;
    height: 100%;
    width: 100%;
  }
  p {
    color: #fff;
    font-size: 1.1rem;
    line-height: 2.5rem;
  }
  .content {
    padding: 1rem;
    max-width: 600px;
  }
}
@media (max-width: 900px) {
  #the-knit-factor {
    align-items: center;
    display: flex;
    justify-content: center;
    .content {
      padding: 1rem;
    }
    .runway {
      display: none;
    }
  }
}
@media (max-width: 700px) {
  #the-knit-factor {
    height: 100vh;
    p {
      margin: 0 auto;
      max-width: 400px;
    }
  }
}
