:root {
  --primary-dark: #313131;
  --primary-light: #edebe9;
  --primary-neutral: #ccc;
  --primary-highlight: #dbc78e;
  --knit-pruple: #9c92ac;
  --coat-red: #ae8484;
  --primary-serif: Georgia, "Times New Roman", Times, serif;
  --primary-sans-serif: Arial;
}

body {
  background-color: var(--primary-dark);
  box-sizing: border-box;
  color: var(--primary-light);
  margin: 0;
  padding: 0;
}

p {
  font-size: 1rem;
  line-height: 1.5rem;
}
